@model DoctorAppointment_ManagementSystem.Models.DocTime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isBooked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBooked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeslot.slotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeslot.slotName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
