@model DoctorAppointment_ManagementSystem.Models.appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeslot.slotName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeslot.slotName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
