@model DoctorAppointment_ManagementSystem.Models.AppointmentPayment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AppointmentPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppointmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.AppointmentNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentPaymentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
