@model DoctorAppointment_ManagementSystem.Models.AppointmentRecommendation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AppointmentRecommendation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recommendation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recommendation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppointmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.AppointmentNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentRecommendationsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
